* {
  border: 1px solid lime;
}
* {
  font-family: "Signika", sans-serif;
}
:root {
/*
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
*/
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  font-variation-settings: "GRAD" 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*-- Color Ekle --*/
  --primary-red-color: #E50914;
  --primary-black-color: #000000; 
   /* Typography Color */
   --text-lightest:#FFFFFF;
   --text-gray:#8C8C8C;
   --text-dark-gray:#757575;
   --text-light-gray:#999999;
   /* Accent Color*/
   --accent-blue:#0071EB;
   --accent-orange:#FFA00A;
   --accent-green:#5FA53F;
   /* Background Color */ 
   --bg-dark-color:#000000;
   --bg-color:#222222;
   --bg-lightest: #ffffff;

}

body {
color:var(--text-lightest);
background-color: var(--primary-black-color);
}
.color {
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.header {
  padding: 2rem;
  background-color: var(--primary-red-color);
  color: var(--text-lightest)
}
.primary-container {
display: flex;
justify-content: flex-start;
gap: 4rem;
margin-bottom: 2rem;
}
.container {
  padding: 4rem;
  border: 15px solid var(--primary-red-color);
}
.back-color {
  display: flex;
}

.rect {
  width: 400px;
  height: 250px;
  display: flex;
  text-align:left;

}

.rect:has(p) {
  justify-content: space-between;
}

.typo-square {
  width: 150px;
  height: 150px;
  padding:1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.accent-square {
  width: 150px;
  height: 150px;
  padding:1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.squareBack { 
  width: 150px;
  height: 150px;
  padding:1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.typo {
  display: flex;
}

.main-1 {
  background-color: var(--primary-red-color);
  color: var(--text-lightest);
  padding: 0.5rem;
  margin-bottom: 3rem;
  margin-right: 3rem;
}

.typographyBox {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.AccentBox {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
  gap: 2rem;
}
.BackgroundBox {
  display: flex;
  justify-content: flex-start;
  gap:2rem;
  margin-bottom: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -0.5%;
}
h2 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: -1%;
    color:#FFFFFF;
    margin-bottom: 2rem;
}
h3 {
    font-size: 1.6rem;
}
.text-field {
  font-size: 1rem;
}
.lead {
  font-size: 1rem;
}
.subtitle {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.5%;
}
.ds-element-container {
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  margin-bottom: 1rem;
}
.primary-button,
.button {
  font-size: 1.2rem;
  letter-spacing: 0.1%;
  background-color: var(--bg-lightest);
  color:var(--primary-black-color);
  align-items: center;
  border:0;
  border-radius: 0.5rem;
  display: flex;
  gap:0.5rem;
  padding:0.5rem 1.2rem;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
 .secondary-button {
  background-color: rgb(255, 255, 255, 0.3);
  color: var(--text-light-gray);
  font-size: 1rem;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}
.primary-button:hover,
.secondary-button:hover {
  opacity: 0.8;
 }

.outline-button {
  font-size: 1rem;
  background-color: transparent;
  color: var(--text-gray);
  border: 1px solid var(--text-gray);
  border-radius: 0;
  display: flex;
  align-items: center;
}
 
 .outline-button:hover {
  color: var(--white);
  border: 1px solid var(--text-lightest)
 }

 .card {
  background-color: var(--bg-color);
  min-width: 15rem;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card img {
  height: 2.5rem;
}
.card img:first-of-type {
  padding:0.2rem;
}
.card > div {
  display: flex;
  justify-content: space-between;
}
.card > span {
  background-color: var(--primary-red-color);
  align-self: center;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding: 0.25rem 0.5rem;
}


/********WHO'S WATCHİNG*********/
.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;

  gap: var(--gap-m);
}

.profiles {
  display: flex;
  justify-content: center;
  gap:1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.profile {
  flex-basis: 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:0.5rem;

  img {
    width: 100%;
    background-color: var(--bg-light-gray);
    border-radius: var(--border-radius);
    }
  
    &:last-of-type img {
    width: 60%;
    margin: auto;
    background-color: transparent;
    }
  }

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/